# This file specifies which files and directories should be ignored when packaging the extension for distribution.
.vscode
node_modules
*.ts
*.map
*.test.ts
*.spec.ts
*.md
*.yml
*.yaml
*.log
*.tmp

# Exclude all .json files except those needed for the extension
*.json

# Explicitly include required .json files
!language-configuration.json
!themes/silverfin-color-theme-dark.json
!themes/silverfin-color-theme-light.json
!syntaxes/silverfin.tmLanguage.json

!snippets/silverfin.code-snippets
!snippets/silverfin-filters.code-snippets
!snippets/html-in-liquid.code-snippets